svg path {
  stroke: currentColor;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #7c6a0a;
  padding: 30px 80px;
}
@media screen and (max-width: 520px) {
  nav {
    padding: 30px 40px;
  }
}
nav p {
  font-size: 1.5em;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background-color: transparent;
  border-color: transparent;
}
nav .icons button svg {
  color: #7c6a0a;
}

main article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 0 80px 60px 80px;
}
@media screen and (max-width: 520px) {
  main article {
    align-items: center;
    justify-content: center;
    padding: 0 40px 30px 40px;
  }
}
main article .impact-section {
  width: 50%;
}
@media screen and (max-width: 520px) {
  main article .impact-section {
    width: 100%;
    padding-bottom: 20px;
  }
}
main article .impact-section h1 {
  color: #7c6a0a;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 25px;
}
main article .impact-section p {
  color: #7c6a0a;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 25px;
}
main article .impact-section button {
  padding: 21px 46px;
  border: none;
  border-radius: 35px;
  background-color: #fa9500;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
main article .impact-section button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 520px) {
  main article .img-section {
    width: 100%;
  }
}
main article .img-section img {
  width: 550px;
}
@media screen and (max-width: 520px) {
  main article .img-section img {
    width: 100%;
  }
}
main h2 {
  color: #7c6a0a;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
}
main section {
  padding: 0 80px;
}
@media screen and (max-width: 520px) {
  main section {
    padding: 0 40px;
  }
}
main .first-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  flex-flow: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}
main .healthcare-card, main .furniture-card {
  width: 325px;
  border-radius: 8px;
  background-color: #ffdac6;
  padding: 45px 35px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .healthcare-card .icon, main .furniture-card .icon {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
main .healthcare-card .icon svg, main .furniture-card .icon svg {
  position: relative;
  top: -5px;
  right: -20px;
  color: #7C6A0A;
}
main .healthcare-card .container-product, main .furniture-card .container-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 6px;
}
main .healthcare-card .container-product img, main .furniture-card .container-product img {
  width: 100%;
}
main .healthcare-card h3, main .furniture-card h3 {
  color: #7c6a0a;
  font-size: 20px;
  font-weight: 600;
}
main .healthcare-card p, main .furniture-card p {
  color: #7c6a0a;
  font-size: 15px;
  font-weight: 400;
}
main .furniture-card {
  background-color: #babd8d;
}
main .furniture-card .icon svg, main .furniture-card h3, main .furniture-card p {
  color: white;
}
main .about-us {
  padding-bottom: 60px;
}
main .about-us .mision-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
}
main .about-us .mision-section .earth, main .about-us .mision-section .innovation {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 520px) {
  main .about-us .mision-section .earth, main .about-us .mision-section .innovation {
    width: 100%;
    flex-direction: column;
  }
}
main .about-us .mision-section .earth img, main .about-us .mision-section .innovation img {
  width: 100px;
  height: 100px;
}
main .about-us .mision-section .earth h3, main .about-us .mision-section .innovation h3 {
  color: #7c6a0a;
  font-size: 25px;
  font-weight: 400;
}
main .gallery {
  padding-bottom: 60px;
}
main .gallery div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
  row-gap: 15px;
}
main .gallery div .container-img {
  width: 400px;
  height: 450px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .gallery div .container-img img {
  width: 100%;
}
main .gallery div .container-img:hover {
  transform: scale(1.1);
}
main .location {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
main .location .map {
  overflow: hidden;
  padding-bottom: 15px;
}
main .location .map img {
  width: 100%;
}
main .location h3 {
  color: #7c6a0a;
  font-size: 20px;
  font-weight: 600;
}
main .location p {
  color: #7c6a0a;
  font-size: 15px;
  font-weight: 400;
}

footer {
  background-color: #fa9500;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 40px 80px;
  gap: 20px;
  color: white;
}
@media screen and (max-width: 520px) {
  footer {
    padding: 30px 40px;
  }
}
footer .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .social-media img {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */